# Python en tant que calculatrice : Calculs basiques

Python peut être utilisé comme une simple calculatrice pour mener les opérations basiques :

* **Addition** : +

* **Soustraction** : -

* **Multiplication** : *

  - **Puissance** : **

* **Division** : /

  - **Division entière** : //

  - **Modulo (Reste de la division entière)** : %

In [1]:
# Addition
5 + 3

8

**Les commentaires** sont très importants lors de la réalisation d’un programme, ils décrivent ce qui se passe afin qu’une personne qui consulte le code source n’ait pas de difficulté à le comprendre.

En Python, on utilise le symbole dièse (**#**) pour commencer à écrire un commentaire.

In [2]:
# Soustraction
10 - 5.5

4.5

In [3]:
# Multiplication
99 * 7

693

In [4]:
# Division
5 / 2

2.5

In [5]:
# Division entière
5 // 2

2

In [6]:
# Modulo
5 % 2

1

5 modulo 2 égal 1 car le reste de la division de 5 par 2 est 1.

In [7]:
# Puissance
5 ** 3

125

* **Ordre de priorité des opérateurs**

In [8]:
(5 + 2) * -3

-21

Python évalue d'abord ce qui est entre parenthèses.

In [9]:
# Même calcul sans parenthèses
5 + 2 * -3

-1

La multiplication est prioritaire sur l'addition et la soustraction.

In [10]:
2 * 5 ** 3

250

La puissance est prioritaire sur la multiplication.

**CONSEIL : Pour ne pas se tromper sur l'ordre des opérations surtout quand on manipule des expressions plus ou moins complexes, il faut recourir aux parenthèses**.

# Déclaration des données  et Affectation

La déclaration des données est sous la forme d'une initialisation et une affectation, le type de la variable est automatiquement détecté.

In [11]:
x = 7
x1 = x + 1
x2 = x - 1
name = 'Omar'

## Types des objets

La fonction **type()** permet de déterminer le type de tout objet Python.

In [12]:
# Type de 7
type(7)

int

7 est un nombre entier (**int** mis pour **integer** dans Python).

In [13]:
# Type de 7.1
type(7.1)

float

7.1 est un nombre décimal, *i.e.* flottant (**float** dans Python).

In [14]:
# Type de 'Hello world'
type('Hello world')

str

'Hello world' est une chaîne de caractères (**str** mis pour **string** dans Python).

In [15]:
# Type de la variable x

type(x)

int

In [16]:
# Type de la variable name

type(name)

str

***Exercice d'application***

1. Affecte **100** à la variable **x1**. Quel est son type ?
2. Affecte **x1 - 30** à la variable **x2**.
3. Affecte **x2** divisé par **10** à la variable **x2**. Quel est son type ?

In [17]:
#1

x1 = 100
type(x1)

int

In [18]:
#2

x2 = x1 - 30
x2 = x2 / 10
type(x2)

float

# Écriture

In [19]:
#Afficher 'Hello world'

print('Hello world')

Hello world

In [20]:
#Afficher la valeur de la variable x

print(x)

7

In [21]:
#Afficher la valeur de la variable name

print(name)

Omar

In [22]:
#Combinaison d'une chaîne de caractères et d'une variable

print('Hello world, my name is', name)

Hello world, my name is Omar

In [23]:
print("Hello world, my name is", name, ",I'm", x, "years old.")

Hello world, my name is Omar ,I'm 7 years old.

In [ ]:
#Ou encore
print(f"Hello world, my name is {name}, I'm {x} years old.")

In [24]:
print(7+33)

40

In [25]:
print(x1-x2)

93.0

# Lecture

Pour lire une donnée à partir du clavier on utilise **input()**.
Écrivons un petit programme qui demande le nom de l'utilisateur et le salue puis demande l'âge de ce même utilisateur.

In [26]:
print("Comment t'appelles-tu?")
name = input()
print("Bonjour", name)
print("Quel âge as-tu?")
age = input()

Comment t'appelles-tu?
Fatima
Bonjour Fatima
Quel âge as-tu?
19

In [27]:
#Ou encore

name = input("Comment t'appelles-tu? ")
print("Bonjour", name)
age = input("Quel âge as-tu? ")

Comment t'appelles-tu? Fatima
Bonjour Fatima
Quel âge as-tu? 19

***Exercice d'application***

1. Demander le prénom de l'utilisateur et stocker la réponse sous le nom **first_name**.
2. Demander le nom de l'utilisateur sous le nom **last_name**.
3. Afficher à l'écran la phrase **"Vous vous appellez "** et le nom complet.
4. Demander l'âge de l'utilisateur sous le nom **age**.
5. Afficher à l'écran son année de naissance.

In [28]:
#1
first_name = input("Prénom ")

#2
last_name = input("Nom ")

#3
print("Vous vous appellez", first_name, last_name)

#4
age = input("Âge ")

Prénom Fatima
Nom Zahra
Vous vous appellez Fatima Zahra
Âge 19

## Casting (Conversion de type)

In [29]:
#5
print("Vous êtes née en", 2025-age)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

On ne peut soustraire une chaîne de caractères (age) à un entier (2024). Même si la valeur entrée est 21, Python la traite par défaut comme une chaîne de caractères. Pour cela, un changement de type est nécessaire en mettant la variable entre parenthèses précédée par le type voulu.

In [30]:
#5
print("Vous êtes née en", 2025-int(age))

Vous êtes née en 2006

\newpage

# TP

***Exercice 1***

Écrire un programme pour calculer la moyenne de trois notes données par l'utilisateur.

***Exercice 2***

Écrire un programme tel que à partir de la distance en ***kilomètre*** et la durée en ***heure*** calcule la vitesse en ***km/h*** et en ***m/s***.

***Exercice 3***

Écrire un programme pour calculer dans un espace de deux dimensions la distance entre deux points et leur point milieu.

***Exercice 4***

Écrire un programme pour calculer l'aire et le périmètre d'un cercle.

***Exercice 5***

Écrire un programme pour permuter les valeurs de deux variables.

***Exercice 6***

Écrire un programme pour convertir un nombre donné de secondes en un nombre entier d'heures, de minutes et de secondes.

# Résolution

In [31]:
# Exercice 1

note1=eval(input("Note 1 : "))
note2=eval(input("Note 2 : "))
note3=eval(input("Note 3 : "))
moyenne=(note1+note1+note3)/3
print("La moyenne :", round(moyenne,2))

Note 1 : 13
Note 2 : 15.5
Note 3 : 17
La moyenne : 14.33

In [32]:
# Exercice 2

distance=eval(input("La distance en kilomètre : "))
duration=eval(input("la durée en heure : "))
speed=distance/duration
print("La vitesse :", round(speed,2), "km/h")

La distance en kilomètre : 120
la durée en heure : 2
La vitesse : 60.0 km/h

In [33]:
# Exercice 3

import math

a1=eval(input("L'abscisse du premier point : "))
o1=eval(input("L'ordonnée  du premier point : "))
a2=eval(input("L'abscisse du deuxième  point : "))
o2=eval(input("L'ordonnée  du deuxième point : "))
d=math.sqrt((a1-a2)**2+(o1-o2)**2)
am=(a1+a2)/2
om=(o1+o2)/2
print("La distance entre les deux points :", round(d,2))
print(f"Les coordonnées du point milieu : ({am}, {om})")

L'abscisse du premier point : 10
L'ordonnée  du premier point : 11
L'abscisse du deuxième  point : 20
L'ordonnée  du deuxième point : 22
La distance entre les deux points : 14.87
Les coordonnées du point milieu : (15.0, 16.5)

In [34]:
# Exercice 4

r=eval(input("Rayon : "))
p=2*math.pi*r
a=math.pi*r*r
print("Le périmètre :", round(p,2))
print("L'aire :", round(a,2))

Rayon : 10
Le périmètre : 62.83
L'aire : 314.16

In [35]:
# Exercice 5

v1 = eval(input("Variable 1 : "))
v2 = eval(input("Variable 2 : "))

v3 = v1 #pour garder la valeur de la première variable
v1 = v2
v2 = v3

Variable 1 : 3
Variable 2 : 9

In [36]:
#Après l'échange

print("Variable 1 : ", v1)
print("Variable 2 : ", v2)

Variable 1 :  9
Variable 2 :  3

In [ ]:
#Ou encore dans le cas de Python

v1, v2 = v2, v1

In [38]:
# Exercice 6

x = eval(input("Nombre de secondes : "))

heure = x//3600
reste = x%3600

minute = reste//60

seconde = reste%60

print(f"{heure} heures, {minute} minutes et {seconde} secondes.")

Nombre de secondes : 72303
20 heures, 5 minutes et 3 secondes.